@import url(https://fonts.bunny.net/css?family=fira-mono:400,500,700);

:root {
  --hue: 200;
  --background: hsl(var(--hue), 89%, 4%);
  --background-1: hsl(var(--hue), 89%, 12%);
  --background-2: hsl(var(--hue), 89%, 20%);
  --text: #FFFFFF;
  
  --primary-light: hsl(var(--hue), 89%, 80%);
  --primary: hsl(var(--hue), 89%, 74%);
  --primary-dark: hsl(var(--hue), 89%, 60%);

  --error: hsl(0, 89%, 4%);
  --error-1: hsl(0, 89%, 12%);
  --error-2: hsl(0, 89%, 20%);
  --error-3: hsl(0, 89%, 28%);
  --error-4: hsl(0, 89%, 36%);
  --error-5: hsl(0, 89%, 44%);
  --error-6: hsl(0, 89%, 52%);

  --sidebar-width: 150px;

  --font: "Fira Mono", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  color: var(--text);
  width: 100vw;
  height: 100vh;
  font-family: var(--font);
}

#container {
  position: absolute;
  left: var(--sidebar-width);
  top: 0;
  padding-top: 15px;
}
#container .view-lines {
  font-family: var(--font)!important;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  padding-top: 10px;
  padding: 10px;
  border-right: 1px solid var(--background-1);
}

.sidebar-splitter {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--background-2);
}

.sidebar .sidebar-top {
  height: 50%;
}

.sidebar-option {
  background-color: var(--background-1);
  height: 25px;
  font-size: 0.875rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  color: var(--text);
  transition: all 0.15s linear;
}

.sidebar-option .unsaved-edits {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.sidebar-option .unsaved-edits.visible {
  opacity: 1;
}

.sidebar-option .option-title {
  display: flex;
}

.sidebar-option:hover:not(.selected) {
  color: var(--primary-dark)!important;
  background-color: var(--background-2);
}

.sidebar-option.selected {
  color: var(--primary-light);
  background-color: var(--background-2);
}

input {
  outline: 0;
  border: 1px solid var(--background-2);
  width: 100%;
  background-color: transparent;
  height: 25px;
  border-radius: 5px;
  font-family: var(--font);
  font-size: 0.875rem;
  text-align: center;
  color: var(--text);
}

.popups-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

.popup {
  background-color: var(--background-1);
  border: 1px solid var(--background-2);
  color: var(--text);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  flex-direction: column;
}

.popup.error {
  background-color: var(--error-1);
  border-color: var(--error-2);
}

.popup.error .popup-title {
  border-bottom: 1px solid var(--error-2);
}

.popup .popup-title {
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--background-2);
}

.popup .popup-content {
  padding: 10px;
  font-size: 1rem;
}

.context-menu {
  position: fixed;
  z-index: 123456789;
  opacity: 1;
  background-color: var(--background);
  border: 1px solid var(--background-2);
  border-radius: 5px;
  width: 100px;
}

.context-menu .menu-option {
  padding: 10px;
  color: var(--text);
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 5px;
}

.context-menu .menu-option.no-click {
  cursor: default;
}

.context-menu .menu-option.no-center {
  justify-content: left;
}

.context-menu .menu-option.error, .context-menu .menu-option.error svg {
  color: var(--error-5);
  fill: var(--error-5);
}

.context-menu .menu-option:hover {
  background-color: var(--background-1);
}

.context-menu .menu-option .text {
  height: 16px;
}

.context-menu .menu-splitter {
  border-bottom: 1px solid var(--background-2);
  height: 1px;
}

.no-flex {
  display: block!important;
}

.text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 5px;
}